<div class="app-flex-container">
    <div>
        <h2>Donate to an organization</h2>
    </div>
</div>

<mat-card *ngIf="error">
    <div class="app-accent">{{error}}</div>
</mat-card>

<mat-card *ngIf="message">
    <div class="app-primary">{{message}}</div>
</mat-card>

<div *ngIf="!(error || message)">

    <div *ngIf="isLoading">
        <mat-spinner></mat-spinner> Loading...
    </div>

    <div *ngIf="!isLoading">

        <div *ngIf="isUpdating">
            <mat-spinner></mat-spinner> Updating...
        </div>

        <div *ngIf="!isUpdating">
            <mat-form-field>
                <input [(ngModel)]="organization.id" matInput placeholder="ID" disabled>
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="organization.ownerAddress" matInput placeholder="Owner address" disabled>
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="organization.name" matInput placeholder="Name" disabled>
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="value" matInput placeholder="Value">
            </mat-form-field>
        </div>

    </div>

</div>

<br />

<div class="app-flex-container">
    <div>
        &nbsp;
        <br />
    </div>
    <div>
        <a mat-button routerLink="/organizations">
            <mat-icon aria-label="Cancel">arrow_back</mat-icon>
            Return
        </a>
        &nbsp;
        <button mat-raised-button color="accent" (click)="donate()" *ngIf="!error && !message && !isLoading && !isUpdating" [disabled]="!value">
            <mat-icon aria-label="Save">save</mat-icon>
            Donate
        </button>
    </div>
</div>